
@{
    ViewBag.Title = "finalisedNowSubmit";
}

<h2 style="align-content:center"><b>Thank you for submitting your data </b></h2>
<br>
<p>Confirmation:  A copy of this email with uploaded attachment is send to you </p>
