
@{
    ViewBag.Title = "wrongCode";
}

<h2>wrongCode</h2>

@*Sending user back to the same previous page whihc brought him here i.e. Controller: getData and Action: finalisedNowSubmit*@
@Html.ActionLink("Back to Capcha", "finalisedNowSubmit")
